.fill-width {
    width: 100%;
}

.navigation-drawer-menu {
    border: thin solid #0000001f;
    border-radius: 4px;
    box-shadow: none !important;
    will-change: initial; /* Fix for chrome blurry fonts: https://github.com/vuetifyjs/vuetify/issues/12890 */
}

.text--unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none
}

.v-main__wrap {
    overflow: auto;
}
